
.root_card_outer_div{
    border: solid 1px black;
    border-radius: 10px;
    height: 300px;
}

.root_card_img{
    height: 100%;
    border-radius: 10px;
    background-color: #E0D5CB;
}

.all_route_card_div{
    gap: 20px;
}


@media screen and (max-width:400px){
    .all_route_card_div{
        overflow: auto;
        width: 100vw;
        align-items: flex-start;
        padding-left: 0px;
    }

    .root_card_outer_div{
        width: 300px;
        height: auto;
        flex-shrink: 0;
    }

    .root_card_img{
        width: 100%;
        height: 200px;
    }
}